@model asp_project.Models.User
@{
    ViewData["Title"] = "Trang chính";
}

<h2>Chào mừng!</h2>

@if (User.IsInRole("Student"))
{
    <p>Chào bạn học viên @User?.Identity?.Name. Đây là trang dành cho học viên.</p>
    <div class="text-center mb-4">
        <h2 class="fs-4">Khóa học nổi bật</h2>
        <p class="subtitle">Khám phá những khóa học được yêu thích nhất</p>
        <div class="row row-cols-1 row-cols-md-3 g-4"></div>
    </div>

}
else if (User.IsInRole("Teacher"))
{
    <p>Xin chào giảng viên. Đây là khu vực dành cho giảng viên.</p>
}
else if (User.IsInRole("Admin"))
{
    <p>Xin chào quản trị viên. Đây là bảng điều khiển dành cho admin.</p>
}
else
{
    <p>Vai trò không xác định. Vui lòng đăng nhập lại.</p>
}
